<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Example to display JSON data in a Table using AngularJS?</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
    <script src="Controller/cipherkey.js"></script>


</head>
<body >
<table ng-controller="insuredCtrl">
    <tr>
        <th>Name</th>
        <th>Relationship</th>
    </tr>
    <tr><td ng-repeat="indivisual in members">
        {{ indivisual.c0}}

    </td></tr>
    <tr><td ng-repeat="indivisual in members">
        {{ indivisual.c1 }}
    </td></tr>
</table>
</body>
</html>
