<!DOCTYPE html>
<!--
	Created by ZHOU YANJUN
	Final Year Project
	AES Web Demo
-->
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->

<head>
    <title>My AES App</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-xlarge.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body id="top">

<header id="header" class="skel-layers-fixed">
    <h1><a href="#">AES Demo</a></h1>
    <nav id="nav">
        <ul>
            <li>Cipher Key</li>
        </ul>
    </nav>
</header>


<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Key Schedule</h2>
        <p style="font-size: medium">The expanded key can be seen as an array of 32-bit words (columns). <br>
            The first four columns are filled with the given Cipher Key from input.</p>
    </header>

    <!--RCON Table-->
    <div class="container" align="center" >
        <p>RCON Table</p>
        <table ng-controller="insuredCtrl" style="font-size: small">
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c0}}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
        </table>
    </div>
</section>

<section id="two" class ="wrapper style1">
    <div class="container">
        <table ng-controller="insuredCtrl">
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c0}}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members">{{ indivisual.c1 }}</td></tr>
        </table>
    </div>
</section>


<div class="skel-layers-fixed">
    <a href="keySchedule_Result.html" class="button alt" style="float: right;">Next -></a>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="Controller/cipherkey.js"></script>


</body>
</html>