<html lang="en" >
<head>
    <title>My AES App</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-xlarge.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="inputErrorsApp" ng-cloak>

<header id="header" class="skel-layers-fixed">
    <h1><a href="#">AES Demo</a></h1>
    <nav id="nav">
        <ul>
            <li>Input</li>
        </ul>
    </nav>
</header>

<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Plaintext and Key Input</h2>
        <p>16 bits are allowed for both fields</p>
    </header>

<div ng-controller="AppCtrl" layout="column" ng-cloak class="container">

    <md-content layout-padding>
        <form name="projectForm">

            <div class="row">
                <div class="6u">
                    <md-input-container class="md-block" flex ="80">
                        <label>Plain Text</label>
                        <input md-maxlength="16" required md-no-asterisk name="input" ng-model="project.description">
                        <div ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">Each input block must be less than 16 characters long.</div>
                        </div>
                    </md-input-container>
                        <div>
                            <md-button ng-click="transformation(input01)">Transform</md-button>
                        </div>
                </div>
                <div class="6u">
                        <table>
                            <tr><td ng-repeat="x in result track by $index" ng-if="$index <4">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 4 || $index ==5 || $index ==6 || $index ==7">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 8 || $index ==9 || $index ==10 || $index ==11">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 12 || $index ==13 || $index ==14 || $index ==15">{{x}}</td></tr>
                        </table>
                </div>
            </div>


                <div class="row">
                    <div class="6u">
                        <md-input-container class="md-block">
                            <md-input-container flex="50">
                                <label>Key</label>
                                <input required name="clientName" ng-model="project.clientName">
                                <div ng-messages="projectForm.clientName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </md-input-container>
                        <!--<div>
                            <md-button ng-click="transformation(input01)">Transform</md-button>
                        </div>-->
                    </div>
                    <div class="6u">
                        <table>
                            <tr><td ng-repeat="x in result track by $index" ng-if="$index <4">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 4 || $index ==5 || $index ==6 || $index ==7">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 8 || $index ==9 || $index ==10 || $index ==11">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 12 || $index ==13 || $index ==14 || $index ==15">{{x}}</td></tr>
                        </table>
                    </div>
                </div>


            <div>
                <md-button type="submit" href="keySchedule.html">Submit</md-button>
            </div>

        </form>
    </md-content>

</div>
</section>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="Controller/input.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">

</script>

</body>
</html>