<section id="one" class="wrapper style1" ng-app= "inputApp" ng-cloak>
    <header class="major">
        <h2>Plaintext and Key Input</h2>
        <p>16 bits are allowed for both fields</p>
    </header>

    <div ng-controller="AppCtrl" layout="column" class="container">

        <md-content layout-padding>
            <form name="projectForm">

                <div class="row">
                    <div class="6u">
                        <md-input-container class="md-block" flex ="80">
                            <label>Plain Text</label>
                            <input md-maxlength="16" required name="description" ng-model="project.description">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">Each input block must be less than 16 characters long.</div>
                            </div>
                        </md-input-container>
                        <div>
                            <button class="button alt" ng-click="transformation(project.description,result1)">Transform</button>
                        </div>
                    </div>
                    <div class="6u">
                        <table>
                            <tr><td ng-repeat="x in result1 track by $index" ng-if="$index <4">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result1 track by $index" ng-if="$index == 4 || $index ==5 || $index ==6 || $index ==7">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result1 track by $index" ng-if="$index == 8 || $index ==9 || $index ==10 || $index ==11">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result1 track by $index" ng-if="$index == 12 || $index ==13 || $index ==14 || $index ==15">{{x}}</td></tr>
                        </table>
                    </div>
                </div>

                <div class = "row">
                    <p><br></p>
                </div>

                <div class="row">
                    <div class="6u">
                        <md-input-container class="md-block" flex="80">
                            <label>Key</label>
                            <input md-maxlength="16" required name="clientName" ng-model="project.clientName">
                            <div ng-messages="projectForm.clientName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">Each input block must be less than 16 characters long.</div>
                            </div>
                        </md-input-container>
                        <div>
                            <button class="button alt" ng-click="transformation(project.clientName,result)">Transform</button>
                        </div>
                    </div>
                    <div class="6u">
                        <table>
                            <tr><td ng-repeat="x in result track by $index" ng-if="$index <4">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 4 || $index ==5 || $index ==6 || $index ==7">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 8 || $index ==9 || $index ==10 || $index ==11">{{x}}</td></tr>
                            <tr ><td ng-repeat="x in result track by $index" ng-if="$index == 12 || $index ==13 || $index ==14 || $index ==15">{{x}}</td></tr>
                        </table>
                    </div>
                </div>

                <div class = "row">
                    <p><br></p>
                </div>

                <!--Check input-->
                <div>
                    <a class="button big" type="submit" href="../keySchedule/keySchedule.html">Submit</a>
                </div>

            </form>
        </md-content>
    </div>
</section>