<hr />
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>1 - Subbytes</h2>
        <p style="font-size: medium">

            In the SubBytes step, each byte ` a_(i,j) ` in the state matrix is replaced with a SubByte ` s_(i,j) ` using the Rijndael S-box. <br>
            This operation provides the non-linearity in the cipher. <br>
            The S-box used is derived from the multiplicative inverse over ` GF(2^8) `, known to have good non-linearity properties. <br>
            To avoid attacks based on simple algebraic properties, the S-box is constructed by combining the inverse function with an
            invertible affine transformation.
        </p>
    </header>
</section>


<!-- Add Round Key-->
<section id="plus" class="wrapper style1">
    <div class="container" align="center">
        Add Round Key before 1st Round
    </div>

    <div class="container" align="center"  ng-controller="numCtrl">
        <div class="row">
            <!-- Initial State Input-->
            <div class="\-6u">
                <table>
                    <tr ng-repeat="i in [0,1,2,3]"><td ng-repeat="j in [0,1,2,3]">{{test01.output[0][i*4+j]}}</td></tr>
                </table>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>
            <!-- Initial State Cipher Key-->
            <div class="\-6u">
                <table>
                    <tr ng-repeat="i in [0,1,2,3]"><td ng-repeat="j in [0,1,2,3]">{{test01.output[1][i*4+j]}}</td></tr>
                </table>
            </div>
            <div class="\-4u">
                =
            </div>
            <!-- Result -->
            <div class="\-6u">
                <table>
                    <tr ng-repeat="i in [0,1,2,3]"><td ng-repeat="j in [0,1,2,3]">{{test01.roundresult[0][i*4+j]}}</td></tr>
                </table>
            </div>
        </div>
    </div>

</section>


<section id="two" class="wrapper style1">
    <div class="container" align="center" >
        <div class="row">
            <div class = "6u">
                <!--Before Convert-->
                <div>
                    <table ng-controller="numCtrl">
                        <tr ng-repeat="i in [0,1,2,3]"><td ng-repeat="j in [0,1,2,3]">{{test01.roundresult[0][i*4+j]}}</td></tr>
                    </table>
                </div>

                <!--Action Button-->
                <img src="images/arrow1.png">
                <!--After Convert-->
                <div>
                    <table ng-controller="insuredCtrl">
                        <tr ng-repeat="k in [0,1,2,3]"><td ng-repeat="l in [0,1,2,3]">{{findsbox(test01.roundresult[0][k*4+l])}}</td></tr>
                    </table>
                    {{findsbox(test01.roundresult[0][8])}}
                </div>
            </div>

            <!-- S-box -->
            <div class="6u">
                <p>S-Box<br> Byte Substitution Table</p>
                <table ng-controller="insuredCtrl" style="font-size: x-small;">
                    <tr ng-repeat="data in sbox" class="special">
                        <td ng-repeat="datum in data" style="padding: 0.25em 0.5em" ng-style="resultarr[datum]"
                            ng-hide="datum == findsbox(test01.roundresult[0][$index])">
                            <a href="https://abdcfaferadfa.github.io/FYP-GF/app/#/sbox?url=&val={{($parent.$index-1)*16 + ($index-1)}}"
                               style="text-decoration:none;color:black;">{{datum}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center" style="padding-top: 3em;" ng-controller="jumpCtrl">
        <a class="button special" type="submit" ng-click="scrollTo('addrk')">Proceed to Step 2: ShiftRows</a>
    </div>
</section>