<section id="headear" class="wrapper style1">
    <hr />
    <header class="major">
        <h2>2 - ShiftRow</h2>
        <p style="font-size: medium">
            In the ShiftRows() transformation, the bytes in the last three rows of the State are cyclically <br>
            shifted over different numbers of bytes (offsets). The first row, r = 0, is not shifted.
        </p>
    </header>
</section>

<section id="one" class="wrapper style1" ng-controller="numCtrl">

    <div class="container">
        <div class="row">
            <div class="4u" align="center">
                <table>
                    <tr class="keyspecial"><td ng-repeat="x in subbytesresult[0] track by $index" ng-if="$index < 4">{{two(x)}}</td></tr>
                    <tr class="keyspecial"><td ng-repeat="x in subbytesresult[0] track by $index" ng-if="$index > 3 && $index <8">{{two(x)}}</td></tr>
                    <tr class="keyspecial"><td ng-repeat="x in subbytesresult[0] track by $index" ng-if="$index > 7 && $index <12">{{two(x)}}</td></tr>
                    <tr class="keyspecial"><td ng-repeat="x in subbytesresult[0] track by $index" ng-if="$index > 11 && $index <16">{{two(x)}}</td></tr>
                </table>
            </div>
            <div class="4u" align="center">
            <div class="mytable">
                <div><div><p></p></div></div>
                <!--Group 1-->
                <!--<div ng-show="ngClick">-->
                <div>
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                    <div class="special"  ng-click="show1 = !show1"><p>Shift Over 1 Byte</p></div>
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                </div>
                <!--Group 2-->
                <div ng-show="show1">
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                    <div class="special"  ng-click="show2 = !show2"><p>Shift Over 2 Bytes</p></div>
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                </div>
                <!--Group 3 -->
                <div ng-show="show2">
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                    <div class="special" ng-click="show3 = !show3"><p>Shift Over 3 Bytes</p></div>
                    <div><img src="images/arrow1.png" height="16" width="37"></div>
                </div>
            </div>
        </div>
        <div class="4u" align="center">
            <table>
                <tr class="keyspecial"><td ng-repeat="x in shiftrowsresult[0] track by $index" ng-if="$index < 4">{{two(x)}}</td></tr>
                <tr class="keyspecial" ng-show="show1"><td ng-repeat="x in shiftrowsresult[0] track by $index" ng-if="$index > 3 && $index <8">{{two(x)}}</td></tr>
                <tr class="keyspecial" ng-show="show2"><td ng-repeat="x in shiftrowsresult[0] track by $index" ng-if="$index > 7 && $index <12">{{two(x)}}</td></tr>
                <tr class="keyspecial" ng-show="show3"><td ng-repeat="x in shiftrowsresult[0] track by $index" ng-if="$index > 11 && $index <16">{{two(x)}}</td></tr>
            </table>
        </div>
        </div>
    </div>

</section>

<!-- Next Step -->
<section id="last" class="wrapper style1">
    <div class="skel-layers-fixed">
        <a href="#/view2/step3" class="button alt" style="float: right;">Next -></a>
    </div>
</section>