<div ng-controller="jumpCtrl">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-subheader>Part 1 - Key Schedule</md-subheader>
            <md-list-item ng-click="scrollTo('scheduledetail')"><div>1.1 - Detail Steps</div></md-list-item>
            <md-divider ></md-divider>
            <md-list-item ng-click="scrollTo('scheduleresult')"><div>1.2 - Summary of 11 Keys</div></md-list-item>
            <md-divider ></md-divider>
            <md-subheader >Part 2 - Encryption Process</md-subheader>
            <md-list-item ng-click="scrollTo('overview')"><div>2.1 - Overview</div></md-list-item>
            <md-divider ></md-divider>
            <md-list-item ng-click="scrollTo('subbytes')"><div>2.2 - SubBytes</div></md-list-item>
            <md-divider ></md-divider>
            <md-list-item ng-click="scrollTo('shiftrow')"><div>2.3 - ShiftRows</div></md-list-item>
            <md-divider ></md-divider>
            <md-list-item ng-click="scrollTo('mixcol')"><div>2.4 - MixColumns</div></md-list-item>
            <md-divider ></md-divider>
            <md-list-item ng-click="scrollTo('addrk')"><div>2.5 - AddRoundKey</div></md-list-item>
            <md-divider ></md-divider>
            <md-subheader >Part 3 - Summary</md-subheader>
            <md-list-item ng-click="scrollTo('result')"><div>3.1 - Final Result</div></md-list-item>
            <md-divider ></md-divider>
        </md-list>
    </md-content>
</div>