

<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Key Schedule</h2>
        <p>Result</p>
    </header>
</section>

<section id="test" class="wrapper style1" ng-controller="keyCtrl">
    Test
    {{test01.finalkey}}

    <div ng-repeat="x in keyresult">
        
    </div>

    Round 0 Key
    <table ng-repeat="x in keyresult">
        <tr ng-repeat="y in x" ng-if="$index < 4">
            <td ng-repeat="z in y">{{z}}</td>
        </tr>
    </table>
</section>

<section id="two" class="wrapper style1">

    <!-- Key 1 - 5 -->
    <div class="container">
        <div class="row">
            <div class="\-4u">
                <table>
                    <tr></tr>
                </table>
                <div>Round 1 Key</div>
            </div>
        </div>
    </div>

    <!-- Key 6 - 10 -->
    <div class="container">
        <div class="row">
            <div class="\-4u">
                <table>
                    <tr></tr>
                </table>
                <div>Round 6 Key</div>
            </div>
        </div>
    </div>

</section>


<section id="last" class="wrapper style1">
    <div class="skel-layers-fixed">
        <a href="#/overview" class="button alt" style="float: right;">Next: Input Encryption</a>
    </div>
</section>
