<section id="one" class="wrapper style1" style="padding: 0 0 0 0;">
    <header class="major" style="padding-top:3em; padding-bottom: 0;">
        <h2>Part 1. Key Schedule</h2>
        <p style="font-size: large">
            Key Schedule is the expansion of the given Cipher key into 11 partial keys, <br>
            used in different rounds of the encryption process.</p>
    </header>
</section>

<section id="two" class ="wrapper style1" style="padding: 0 1em 1em 1em">
    <div class="row">
        <header>
        <p style="font-size: medium">
            The expanded key can be seen as an array of 32-bit words<br>
            numbered from 0 to 43. In the table below, each 32-bit <br>
            word is taking 1 column while each table cell contains<br>
            8 bits. The first four columns are filled with the Cipher<br>
            key that you entered just now.</p>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="2u"> </div>
            <div class="2u">
                <table ng-controller="insuredCtrl">
                    <tr class="special">
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_0 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_1 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_2 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_3 `</th></tr>
                    <tr class="keyspecial"><td class="special">{{test01.output[1][0]}}</td><td class="special">{{test01.output[1][1]}}</td>
                        <td class="special">{{test01.output[1][2]}}</td><td class="special">{{test01.output[1][3]}}</td>
                    </tr>
                    <tr class="keyspecial"><td class="special">{{test01.output[1][4]}}</td><td class="special">{{test01.output[1][5]}}</td>
                        <td class="special">{{test01.output[1][6]}}</td><td class="special">{{test01.output[1][7]}}</td>
                    </tr>
                    <tr class="keyspecial"><td class="special">{{test01.output[1][8]}}</td><td class="special">{{test01.output[1][9]}}</td>
                        <td class="special">{{test01.output[1][10]}}</td><td class="special">{{test01.output[1][11]}}</td>
                    </tr>
                    <tr class="keyspecial"><td class="special">{{test01.output[1][12]}}</td><td class="special">{{test01.output[1][13]}}</td>
                        <td class="special">{{test01.output[1][14]}}</td><td class="special">{{test01.output[1][15]}}</td>
                    </tr>
                </table><br>
                <p style="padding-left: 45%"> Cipher Key</p>
            </div>
            <div class="2u">
                <table>
                    <tr class="special">
                        <th style="padding: 0.4em 1.1em 0.3em 1.1em;">` w_4 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_5 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_6 `</th>
                        <th style="padding: 0.4em 1.1em 0.4em 1.1em;">` w_7 `</th></tr>
                    <tr ng-repeat="i in [1,2,3,4]"><td ng-repeat="j in [1,2,3,4]"><br></td></tr>
                </table><br>
                <p style="padding-left: 40%"> Round 1 Key</p>
            </div>
            <div class="2u">
                <table>
                    <tr class="special">
                        <th  ng-repeat="m in [1,2,3,4]" style="color:white;">` .w_4 `</th></tr>
                    <tr ng-repeat="i in [1,2,3,4]"><td ng-repeat="j in [1,2,3,4]"><br></td></tr>
                </table><br>
                <p style="padding-left: 40%"> Round 2 Key</p>
            </div>
            <div class="3u">
                <div class="bolder">
                    <p>......</p>
                </div>
            </div>
            <div class="2u">
                <table>
                    <tr class="special">
                        <th  style="color:white;">` .w_4 `</th>
                        <th  style="color:white;">` .w_4 `</th>
                        <th  style="color:white;">` .w_4 `</th>
                        <th  style="color:white;">` .w_4 `</th></tr>
                    <tr ng-repeat="i in [1,2,3,4]"><td ng-repeat="j in [1,2,3,4]"><br></td></tr>
                </table><br>
                <p style="padding-left: 34%"> Round 10 Key</p>
            </div>

        </div>
    </div>

</section>



<section id="steps" class="wrapper style1">

    <hr />
    <div class="row" style="padding-left: 15px">
        <h3 ng-model="collapsed" ng-click="show =!show">Situation 1: Words in positions that are a multiple of 4</h3>
    </div>
    <!--RCON Table-->
    <div class="container" align="center" style="font-size: x-small;">
        <p>RCON Table <br>
            Rcon[i] contains value given by ` [x^{i-1},{00},{00},{00}] `.</p>
        <table ng-controller="insuredCtrl" style="font-size: small">
            <tr><td ng-repeat="indivisual in members" style="padding: 0.1em 0.25em">{{ indivisual.c0}}</td></tr>
            <tr><td ng-repeat="indivisual in members" style="padding: 0.1em 0.25em">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members" style="padding: 0.1em 0.25em">{{ indivisual.c1 }}</td></tr>
            <tr><td ng-repeat="indivisual in members" style="padding: 0.1em 0.25em">{{ indivisual.c1 }}</td></tr>
        </table>
    </div>
    <div ng-show="show" style="padding-left: 3em">
        <p>
        (` w_4 `, ` w_8 `, ..., ` w_40 `) are calculated by: <br>
        a) Applying the RotWord and SubBytes transformation to the previous word ` w_{i-1} `<br></p>
        <p>e.g.: When i = 4, i - 1 = 3</p>
        <div class = "container">
            <div class="row">
                <!--Move w4 out, Rotwords, Subbytes-->
                <div class="1u" align="center">
                    <!--w4-->
                    <table>
                        <tr><td>{{test01.output[1][3]}}</td></tr>
                        <tr><td>{{test01.output[1][7]}}</td></tr>
                        <tr><td>{{test01.output[1][11]}}</td></tr>
                        <tr><td>{{test01.output[1][15]}}</td></tr>
                    </table>
                    <div>` w_3 `</div>
                </div>

                <!--Arrow 1st step ROTWORD-->

                <div class="1u" align="center">
                    <p style="font-size: small">Step 1: ROTWORD</p>
                    <img src="images/arrow1.png" height="24" width="64">
                </div>
                <div class="1u" align="center">
                    <!--w4-->
                    <table>
                        <tr><td>{{test01.output[1][7]}}</td></tr>
                        <tr><td>{{test01.output[1][11]}}</td></tr>
                        <tr><td>{{test01.output[1][15]}}</td></tr>
                        <tr><td>{{test01.output[1][3]}}</td></tr>
                    </table>
                    <div>` w'_3 `</div>
                </div>

                <!--Arrow 2nd step SubBytes-->

                <div class="1u" align="center">
                    <p style="font-size: small">Step 2: SubBytes</p>
                    <img src="images/arrow1.png" height="24" width="64">
                </div>

                <div class="1u" align="center">

                    <!--w4-->
                    <table>
                        <tr><td>{{findsbox(test01.output[1][7])}}</td></tr>
                        <tr><td>{{findsbox(test01.output[1][11])}}</td></tr>
                        <tr><td>{{findsbox(test01.output[1][15])}}</td></tr>
                        <tr><td>{{findsbox(test01.output[1][3])}}</td></tr>
                    </table>
                    <div>` w''_3 `</div>
                </div>

<!--{{resultarr["0x04"]}}-->

                <div class="1u" align="center">
                    <p style="font-size: xx-small"></p>
                </div>

                <div class="6u" align="center">
                    <table class="empty" ng-controller="insuredCtrl" style="font-size: xx-small">
                        <tr ng-repeat="data in sbox" class="special">
                            <td ng-repeat="datum in data" style="margin: 0; line-height: 2px" ng-style="resultarr[datum]"
                                ng-hide="datum == findsbox(test01.output[1][3]) || datum == findsbox(test01.output[1][7]) || datum == findsbox(test01.output[1][11]) ||  datum == findsbox(test01.output[1][15])">
                            <a href="https://abdcfaferadfa.github.io/FYP-GF/app/#/sbox?url=&val={{($parent.$index-1)*16 + ($index-1)}}"
                               style="text-decoration:none;color:black;">
                                {{datum}}</a>
                            </td>
                        </tr>
                    </table>
                    <p >S-Box Reference</p>
                </div>

            </div>
        </div>

        <p>
        b) Adding (XOR) this result to the word 4 positions earlier ` w_{i-4} `, plus a round constant Rcon
        </p>
        <!--Key Add-->
        <div class = "row" ng-controller="insuredCtrl">
            <div class="1u" align="right"><p></p></div>
            <!--wi-4-->
            <div class="\-4u">
                <table>
                    <tr><td>{{test01.output[1][0]}}</td></tr>
                    <tr><td>{{test01.output[1][4]}}</td></tr>
                    <tr><td>{{test01.output[1][8]}}</td></tr>
                    <tr><td>{{test01.output[1][12]}}</td></tr>
                </table>
                <div>` w_0 `</div>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>

            <!--Changed-->
            <div class="\-4u">
                <table>
                    <tr><td>{{findsbox(test01.output[1][7])}}</td></tr>
                    <tr><td>{{findsbox(test01.output[1][11])}}</td></tr>
                    <tr><td>{{findsbox(test01.output[1][15])}}</td></tr>
                    <tr><td>{{findsbox(test01.output[1][3])}}</td></tr>
                </table>
                <div>` w''_3 `</div>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>

            <!--RCON-->
            <div class="\-4u">
                <table>
                    <tr><td>{{(members[0]["c0"])}}</td></tr>
                    <tr><td>{{members[0]["c1"]}}</td></tr>
                    <tr><td>{{members[0]["c1"]}}</td></tr>
                    <tr><td>{{members[0]["c1"]}}</td></tr>
                </table>
                <div>` RCON[4] `</div>
            </div>
            <div class="\-4u">
                ` = `
            </div>

            <!--Output-->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][4],findsbox(test01.output[1][11]),members[0]["c1"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][8],findsbox(test01.output[1][15]),members[0]["c1"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][12],findsbox(test01.output[1][3]),members[0]["c1"])}}</td></tr>
                </table>
                <div>` w_4 `</div>
            </div>

        </div>
    </div>
    <!--
    <p class="button special" type="button" ng-show="show" ng-click="show02 =! show02">Click to see Next Situation</p>
    -->
    <hr />

    <div class="row" style="padding-left: 15px">
        <h3 ng-model="collapsed" ng-click="show00 =!show00">Situation 2: The remaining 32-bit words ` w_i `</h3>
    </div>
    <div ng-show="show00" style="padding-left: 3em">
        <p >
            The remaining 32-bit words ` w_i `, are calculated
            by adding (XOR) the previous word ` w_{i-1} `, with the word 4 positions earlier ` w_{i-4} `
        </p>
        <!-- i = 5 -->
        <div class = "row" ng-show="show00" style="padding-left: 3em">
            <p>When i = 5:</p>
            <div class="\-4u">
                <table>
                    <tr><td>{{test01.output[1][1]}}</td></tr><tr><td>{{test01.output[1][5]}}</td></tr>
                    <tr><td>{{test01.output[1][9]}}</td></tr><tr><td>{{test01.output[1][13]}}</td></tr>
                </table>
                <div>` w_1 `</div>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>

            <!--Output from Section 1-->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][4],findsbox(test01.output[1][11]),members[0]["c1"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][8],findsbox(test01.output[1][15]),members[0]["c1"])}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][12],findsbox(test01.output[1][3]),members[0]["c1"])}}</td></tr>
                </table>

                <div>` w_4 `</div>
            </div>
            <div class="\-4u">
                ` = `
            </div>

            <!-- Sum -->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][1],addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][5],addthree(test01.output[1][0],findsbox(test01.output[1][11]),members[0]["c1"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][9],addthree(test01.output[1][0],findsbox(test01.output[1][15]),members[0]["c1"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][13],addthree(test01.output[1][0],findsbox(test01.output[1][3]),members[0]["c1"]),0)}}</td></tr>
                </table>
                <div>` w_5 `</div>
            </div>

            <div class="\-4u">
                <p class="button special" type="button" ng-show="show00" ng-hide = "show02" ng-click="show02 =! show02">Next Situation: i = 6</p>
            </div>
        </div>

        <!-- i = 6 -->
        <div class = "row"  ng-show="show02" style="padding-left: 3em">
            <p>When i = 6:</p>
            <div class="\-4u" style="padding-left: 4em">
                <table>
                    <tr><td>{{test01.output[1][2]}}</td></tr><tr><td>{{test01.output[1][6]}}</td></tr>
                    <tr><td>{{test01.output[1][10]}}</td></tr><tr><td>{{test01.output[1][14]}}</td></tr>
                </table>
                <div>` w_2 `</div>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>

            <!--Output from Section 1-->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][1],addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][5],addthree(test01.output[1][0],findsbox(test01.output[1][11]),members[0]["c1"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][9],addthree(test01.output[1][0],findsbox(test01.output[1][15]),members[0]["c1"]),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][13],addthree(test01.output[1][0],findsbox(test01.output[1][3]),members[0]["c1"]),0)}}</td></tr>
                </table>
                <div>` w_5 `</div>
            </div>
            <div class="\-4u">
                ` = `
            </div>

            <!-- Sum -->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][2],addthree(test01.output[1][1],addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][6],addthree(test01.output[1][5],addthree(test01.output[1][0],findsbox(test01.output[1][11]),members[0]["c1"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][10],addthree(test01.output[1][9],addthree(test01.output[1][0],findsbox(test01.output[1][15]),members[0]["c1"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][14],addthree(test01.output[1][13],addthree(test01.output[1][0],findsbox(test01.output[1][3]),members[0]["c1"]),0),0)}}</td></tr>
                </table>
                <div>` w_6 `</div>
            </div>

            <div class="\-4u">
                <p class="button special" type="button" ng-show="show02" ng-hide = "show03" ng-click="show03 =! show03">Next Situation: i = 7</p>
            </div>
        </div>

        <!-- i = 7 -->
        <div class = "row"  ng-show="show03" style="padding-left: 3em">
            <p>When i = 7:</p>
            <div class="\-4u">
                <table>
                    <tr><td>{{test01.output[1][3]}}</td></tr><tr><td>{{test01.output[1][7]}}</td></tr>
                    <tr><td>{{test01.output[1][11]}}</td></tr><tr><td>{{test01.output[1][15]}}</td></tr>
                </table>
                <div>` w_3 `</div>
            </div>
            <div class="\-4u">
                ` \oplus `
            </div>

            <!--Output from Section 1-->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][2],addthree(test01.output[1][1],addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][6],addthree(test01.output[1][5],addthree(test01.output[1][0],findsbox(test01.output[1][11]),members[0]["c1"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][10],addthree(test01.output[1][9],addthree(test01.output[1][0],findsbox(test01.output[1][15]),members[0]["c1"]),0),0)}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][14],addthree(test01.output[1][13],addthree(test01.output[1][0],findsbox(test01.output[1][3]),members[0]["c1"]),0),0)}}</td></tr>
                </table>
                <div>` w_6 `</div>
            </div>
            <div class="\-4u">
                ` = `
            </div>

            <!-- Sum -->
            <div class="\-4u">
                <table>
                    <tr><td>{{addthree(test01.output[1][3],0,addthree(test01.output[1][2],addthree(test01.output[1][1],addthree(test01.output[1][0],findsbox(test01.output[1][7]),members[0]["c0"]),0),0))}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][7],0,addthree(test01.output[1][6],addthree(test01.output[1][5],addthree(test01.output[1][0],findsbox(test01.output[1][11]),members[0]["c1"]),0),0))}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][11],0,addthree(test01.output[1][10],addthree(test01.output[1][9],addthree(test01.output[1][0],findsbox(test01.output[1][15]),members[0]["c1"]),0),0))}}</td></tr>
                    <tr><td>{{addthree(test01.output[1][15],0,addthree(test01.output[1][14],addthree(test01.output[1][13],addthree(test01.output[1][0],findsbox(test01.output[1][3]),members[0]["c1"]),0),0))}}</td></tr>
                </table>
                <div>` w_7 `</div>
            </div>

            <!--you yige 8 de tishi -->
            <div class="\-4u">
                <p class="button special" type="button alt" ng-show="show03">Next Situation i = 8 will go back to Situation 1</p>
            </div>
        </div>
        <hr />
    </div>
    </div>


</section>



<section id="last" class="wrapper style1">
<div class="skel-layers-fixed">
    <a href="#/view1/result" class="button alt" style="float: right;">Next -></a>
</div>
</section>