

<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Key Schedule</h2>
        <p>Result</p>
    </header>
</section>

<section id="test" class="wrapper style1" ng-controller="keyCtrl">


    <div layout="column" layout-align="center center">
        <div class="\-4u">
            <div>
            <table>
                <tr><td ng-repeat="y in keyresult[0]" ng-if="$index < 4">{{y[0]}}</td></tr>
                <tr><td ng-repeat="y in keyresult[0]" ng-if="$index < 4">{{y[1]}}</td></tr>
                <tr><td ng-repeat="y in keyresult[0]" ng-if="$index < 4">{{y[2]}}</td></tr>
                <tr><td ng-repeat="y in keyresult[0]" ng-if="$index < 4">{{y[3]}}</td></tr>
            </table>
            </div>
            <div align="center">
            <p>Cipher Key</p>
            </div>
        </div>
    </div>


    <div layout="row" layout-align="space-around center">
        <div class="\-4u" ng-repeat="x in keyresult" ng-if="$index > 0 && $index < 6">
            <table>
                <tr><td  ng-repeat="y in x" ng-if="$index < 4">{{y[0]}}</td></tr>
                <tr><td  ng-repeat="y in x" ng-if="$index < 4">{{y[1]}}</td></tr>
                <tr><td ng-repeat="y in x" ng-if="$index < 4">{{y[2]}}</td></tr>
                <tr><td ng-repeat="y in x" ng-if="$index < 4">{{y[3]}}</td></tr>
            </table>
            <p align="center">Round {{$index}} Key </p>
        </div>
    </div>

    <div layout="row" layout-align="space-around center">
        <div class="\-4u" ng-repeat="x in keyresult" ng-if="$index > 5 && $index < 11">
            <table>
                <tr><td  ng-repeat="y in x" ng-if="$index < 4">{{y[0]}}</td></tr>
                <tr><td  ng-repeat="y in x" ng-if="$index < 4">{{y[1]}}</td></tr>
                <tr><td ng-repeat="y in x" ng-if="$index < 4">{{y[2]}}</td></tr>
                <tr><td ng-repeat="y in x" ng-if="$index < 4">{{y[3]}}</td></tr>
            </table>
            <p align="center">Round {{$index}} Key </p>
        </div>
    </div>

</section>



<section id="last" class="wrapper style1">
    <div class="skel-layers-fixed">
        <a href="#/overview" class="button alt" style="float: right;">Next: Input Encryption</a>
    </div>
</section>
