<md-content md-theme="docs-dark" class="dark-theme1" style="padding: 7em 0 5em 0;">
    <div layout="row" layout-align="space-around center" ng-controller="insuredCtrl">
    <div layout="row" layout-align="space-between center">
        <div flex="95" style="padding-right: 2em;">
            <form name="userForm">
                <md-input-container class="md-block" flex-gt-xs>
                    <label style="font-size: large; color: white;">Text Input</label>
                    <input style="color: white;" ng-model="test01.output[0]" disabled>
                </md-input-container>
            </form>
        </div>
        <div flex="5">
            <table ng-controller="insuredCtrl" style="font-size: small;">
                <tr>
                    <td class="smallspecial" ng-repeat="i in [0,1,2,3]">{{test01.output[0][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [4,5,6,7]">{{test01.output[0][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [8,9,10,11]">{{test01.output[0][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [12,13,14,15]">{{test01.output[0][i]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div layout="row" layout-align="space-between center" style="padding-right: 5em;">
        <div flex="95" style="padding-right: 2em">
            <form name="userForm">
                <md-input-container class="md-block" flex-gt-xs>
                    <label style="font-size: large; color: white;">Cipher Key</label>
                    <input style="color: white;" ng-model="test01.output[1]" disabled>
                </md-input-container>
            </form>
        </div>
        <div flex="5" style="padding-left: 1em">
            <table ng-controller="insuredCtrl" style="font-size: small;">
                <tr>
                    <td class="smallspecial" ng-repeat="i in [0,1,2,3]">{{test01.output[1][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [4,5,6,7]">{{test01.output[1][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [8,9,10,11]">{{test01.output[1][i]}}</td></tr>
                <tr>
                    <td class="smallspecial" ng-repeat="i in [12,13,14,15]">{{test01.output[1][i]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</md-content>