<section id="one" class="wrapper style1" ng-cloak>
    <header class="major">
        <h2>Plaintext and Key Input</h2>
        <p style="font-size: medium">AES-128 allows a fixed block size and a fixed key size as 128 bits.<br>

        </p>
    </header>

    <div ng-controller="AppCtrl" layout="column" class="container">

        <md-content layout-padding>
            <!--Input-->
            <div layout="row">
                <h2 class="md-title">Input</h2>
            </div>

            <div layout="row" layout-align="center">

                <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"
                        style="width: 8%; padding-left: 1em;">
                    <form name="projectForm">
                    <md-input-container class="md-block" flex ="100">
                        <label>Byte{{$index}}</label>
                        <input maxlength="2" minlength="2" required name="description" ng-model="input[$index]"
                            ng-change="projectForm.description" ng-pattern="/^[A-Fa-f0-9][A-Fa-f0-9]$/">
                        <div ng-messages="projectForm.description.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="maxlength"></div>
                            <div ng-message="minlength">Input exactly 2 digits.</div>
                            <div ng-message="ng-pattern">Must be within 00 to ff.</div>
                        </div>
                    </md-input-container>
                    </form>
                </div>
            </div>


            <!--Input-->
            <div layout="row">
                <h2 class="md-title">Key</h2>
            </div>

            <div layout="row" layout-align="center">

                <div ng-controller="BasicDemoCtrl" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"
                     style="width: 8%; padding-left: 1em;">
                    <form name="projectForm">
                        <md-input-container class="md-block" flex ="100">
                            <label>Byte{{$index}}</label>
                            <input maxlength="2" minlength="2" required name="description" ng-model="key[$index]"
                                   ng-change="projectForm.description" ng-pattern="/^[A-Fa-f0-9][A-Fa-f0-9]$/">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="maxlength"></div>
                                <div ng-message="minlength">Input exactly 2 digits.</div>
                                <div ng-message="ng-pattern">Must be within 00 to ff.</div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
            </div>

                <!--Empty-->
                <div class = "row">
                    <p><br></p>
                </div>

                <!--Check input-->
                <div layout="row" layout-align="center">
                    <a class="button big" type="submit" href="#/view1">Proceed to Encryption Process</a>
                </div>


        </md-content>
    </div>
</section>