<div class="dark-theme1" style="padding: 2em 1em 2em 1em; position:fixed; margin-top:200px" ng-controller="insuredCtrl">

    <div ng-click="expan = !expan" style="font-size: small;">
        <p>Show Text Input <br>
        and Cipher Key</p>
    </div>



    <div ng-show="expan" layout="column" style="max-width: 290px">
            <md-input-container class="md-block" style="margin: 5px !important;">
                <label style="font-size: small; color: white; margin:0;">Text Input</label>
                <input style="font-size: small;color: white;" ng-model="constant1.output[0]" disabled>
            </md-input-container>
            <md-input-container class="md-block" style="margin: 5px !important;">
                <label style="font-size: small; color: white; margin:0;">Cipher Key</label>
                <input style="font-size: small;color: white;" ng-model="constant1.output[1]" disabled>
            </md-input-container>

            <div layout="row" layout-align="space-around center">
                <div>
                    <table style="font-size: small;">
                        <tr ng-repeat="i in [0,1,2,3]">
                            <td class="smallspecial" ng-repeat="j in [1,2,3,4]">{{new_input[i*4+j-1]}}</td></tr>
                        <tr>
                    </table>
                </div>
                <div>
                    <table style="font-size: small;">
                        <tr ng-repeat="i in [0,1,2,3]">
                            <td class="smallspecial" ng-repeat="j in [1,2,3,4]">{{new_output[i*4+j-1]}}</td></tr>
                        <tr>
                    </table>
                </div>
            </div>
        <!--
        <div layout="column" layout-align="space-between center" style="padding-right: 5em;">
            <div style="padding-right: 2em">
                <form name="userForm">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label style="font-size: large; color: white;">Cipher Key</label>
                        <input style="color: white;" ng-model="constant1.output[1]" disabled>
                    </md-input-container>
                </form>
            </div>
            <div style="padding-left: 1em">
                <table style="font-size: small;">
                    <tr ng-repeat="i in [0,1,2,3]">
                        <td class="smallspecial" ng-repeat="j in [1,2,3,4]">{{new_output[i*4+j-1]}}</td></tr>
                    <tr>
                </table>
            </div>
        </div>
        -->
    </div>
</div>